<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings><add name="TeamBuildingEntities" connectionString="metadata=res://*/TeamBuilding.csdl|res://*/TeamBuilding.ssdl|res://*/TeamBuilding.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-13RNJDL\SQLEXPRESS;initial catalog=TeamBuilding;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>